<div id="page_container">

<%= render partial: "menu" %>

<div id="homepagecontent">
  <div class="cards" id="card1">
    <article>
      <h2>Flipped Classroom</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sagittis mauris sed dui dapibus tincidunt. Aliquam accumsan ex libero, nec accumsan tortor tincidunt at. Suspendisse sed lorem vel justo sollicitudin vestibulum id id metus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis tristique nisl sit amet hendrerit dignissim. Donec nec nulla interdum, aliquet magna id, lobortis odio. </p>
    </article>
    <%= image_tag("homepage_illustrations/flippedclassroom.png", :alt => "Flipped Classroom") %>
  </div>

  <div class="cards" id="card2">
    <article>
      <h2>Accessibility</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sagittis mauris sed dui dapibus tincidunt. Aliquam accumsan ex libero, nec accumsan tortor tincidunt at. Suspendisse sed lorem vel justo sollicitudin vestibulum id id metus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis tristique nisl sit amet hendrerit dignissim. Donec nec nulla interdum, aliquet magna id, lobortis odio. </p>
    </article>
    <%= image_tag("homepage_illustrations/accessibility.png", :alt => "Accessibility") %>
  </div>

  <div class="cards" id="card3">
    <article>
      <h2>Intelligent Feedback</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sagittis mauris sed dui dapibus tincidunt. Aliquam accumsan ex libero, nec accumsan tortor tincidunt at. Suspendisse sed lorem vel justo sollicitudin vestibulum id id metus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis tristique nisl sit amet hendrerit dignissim. Donec nec nulla interdum, aliquet magna id, lobortis odio. </p>
    </article>
    <%= image_tag("homepage_illustrations/intelligentfeedback.png", :alt => "Intelligent Feedback") %>
  </div>

  <div class="cards" id="card4">
    <article>
      <h2>Collaboration</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sagittis mauris sed dui dapibus tincidunt. Aliquam accumsan ex libero, nec accumsan tortor tincidunt at. Suspendisse sed lorem vel justo sollicitudin vestibulum id id metus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis tristique nisl sit amet hendrerit dignissim. Donec nec nulla interdum, aliquet magna id, lobortis odio. </p>
    </article>
    <%= image_tag("homepage_illustrations/connection.png", :alt => "Collaboration") %>
  </div>

  <div class="cards" id="card5">
    <article>
      <h2>Student Centered</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sagittis mauris sed dui dapibus tincidunt. Aliquam accumsan ex libero, nec accumsan tortor tincidunt at. Suspendisse sed lorem vel justo sollicitudin vestibulum id id metus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis tristique nisl sit amet hendrerit dignissim. Donec nec nulla interdum, aliquet magna id, lobortis odio. </p>
    </article>
    <%= image_tag("homepage_illustrations/studentcentered.png", :alt => "Student Centered") %>
  </div>
</div>


<%= render partial: "footer" %>
</div>
