<!-- Classes homepage -->


<!-- Menu integration -->
<% content_for :menu do %>
<% render partial: "tmenu" %>
<%end%>


<h1>Classes and Teacher's homepage</h1>





  <p class="lead">Add or modify classes here</p>

  <%= form_for @normalclass do |f| %>
  <div>
    <%= f.label :name %>:
    <%= f.text_field :name, autofocus: true %>
  </div>
  <div class="actions">
    <%= f.submit "Create a new Class" %>
  </div>
<% end %>


<% @normalclass2.each do |c| %>

  <h2>
    <%= c.name %>
  </h2>
  <%= link_to "Delete Class", c, :confirm => "Are you sure?", :method => :delete %>

<% end %>





<%= javascript_pack_tag 'hello_vue' %>
