<!-- "wider" top-bar menu for 'medium' and up -->
<div class="nav">

    <div class="menu" >
      <%= link_to('Contact', contact_path) %>
      <%= link_to('Help', help_path) %>
      <%= link_to('Site map', sitemap_path) %>
      <%= link_to('Terms of use', terms_path) %>
      <%= link_to('Privacy notice', privacy_path) %>
    </div>


</div>
