<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Saaga" %></title>

    <%= javascript_include_tag "vendor/modernizr" %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <!-- wrapper to hide off wrapper -->
    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
      <!-- Checking if menu exists. If yes renders it. -->
      <% if content_for? :menu %>
        <nav>
          <%= yield :menu %>
        </nav>
      <% end %>

      <!-- flash messages for devise -->
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <!-- content of the page wrapped for the off canevas menu -->
      <div class="off-canvas-content" data-off-canvas-content>
        <%= yield %>
      </div>

    </div>
    </div>
  </body>
</html>
