<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Saaga" %></title>

    <%= javascript_include_tag "vendor/modernizr" %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>

    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
 
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet" type="text/css">
 
    <%= csrf_meta_tags %>
  </head>

  <body>

    <!-- wrapper to hide off wrapper -->


  






      <!-- flash messages for devise -->
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

   
        <%= yield %>
      


    </div>
  </body>
</html>
